four types of reports:
1. Settlement report (internationl minutes, local minutes, roaming to internationl, internation to international)
2. Monitoring/Maintaince/Operational report (last 5 minutes how many data/call/sms was consumed)
3. Subscriber usage report (Subscriber wants to check themself of their own usage) - lowest priority
4. business report (How many total topups, which package was subscribed to etc.)

sources:
1. SMSC CDRs - A2PSMS (will be sent from shortcode) need to be extracted from there
2. OCS tables - Postgre SQL 
3. Prov CDRs - 

manual reports to be extracted for now. 